.user-icon {
    border-radius: 50%;
}

#container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 150px;
}

.logo-searchbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: center;
    top: 100 px;
    padding: 10px;
}

.buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-self: center;
    top: 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 14px;
    text-decoration: none;
}