.center {
    margin-left: auto;
    height: auto;
    width: auto;
}

.box {
    display: flex;
    flex-direction: column;
}

.nav {
    position: relative;
    top: 0px;
    left: -35px;
}

.logo {
    position: relative;
    margin: 0% 40% 1px 40%;
    width: auto;
    align-self: center;
}

.searchbar {
    position: relative;
    margin: 25px;
    width: 600px;
    height: 40px;
    align-self: center;
    border-radius: 16px;
    border-style: solid;
}

.buttons {
    margin: 10px;
    width: 150px;
    height: 30px;
    align-self: center;
    font-family: arial;
    background-color: #ededed;
    border-style: solid;
    border-radius: 4px;
    border-color: #ededed;
}

.footer {
    min-height: calc(100vh - 70px);
    color: #949393;
    font-size: 300px;
    position: fixed;
    width: 95vmax;
}

#user-icon {
    border-radius: 50%;
}

#sign-in {
    color: white;
    background-color: #0066FF;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: Arial;
    position: relative;
    top: -15px;
    border-style: solid;
    border-color: #0066FF;
}

img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    position: relative;
}

li {
    padding: 10px;
    font-size: small;
    font-family: arial, sans-serif;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}